@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Please check out my GitHub Repository <a href="https://github.com/changhuixu/dotnetlabs/tree/master/MachineLearningLabs/HandwritingRecognition">here</a>.</p>

<p>You are welcome to read <a href="https://codeburst.io/handwriting-recognition-using-ml-net-3ce23a7369af">my Medium Article</a> about Handwriting Recognition using ML.NET.</p>
