@{
	ViewData["Title"] = "Home";
}
<div class="text-center">
 <div class="form-group">
  <label for="selectClassifier">Select a classifier:</label>
  <select class="form-select" aria-label="Choose a classifier name" id="selectClassifier">
   <option value="DNN" selected>Deep Neural Network</option>
   <option value="SDCA">Stochastic Dual Coordinate Ascent Method</option>
  </select>
 </div>
 <div class="mb-3">
  <p>Write a number [0-9] in the box.</p>
  <canvas id="paint" width="256" height="256"></canvas>
 </div>
 <div class="btn-group mb-3">
  <button id="clearArea" class="btn btn-secondary">Clear</button>
  <button id="check" class="btn btn-success">Check</button>
 </div>
 <div>
  <p id="prediction" class="h1" style="display:inline-block;">?</p>
  <em id="time"></em>
 </div>
 <canvas id="chart" style="display: none;"></canvas>
</div>
<div class="row justify-content-md-center">
 <div class="col col-lg-2">
  <label class="form-label" for="inputWidth">Width: <span id="widthPaint"></span> px</label>
 </div>
 <div class="col-md-auto">
  <input id="inputWidth" class="form-control form-range" type="range" min="1" max="50" value="15" />
 </div>
</div>
<div class="row justify-content-md-center">
 <div class="col col-lg-2">
  <label class="form-label" for="inputColor">Color picker</label>
 </div>
 <div class="col-md-auto">
  <input id="inputColor" class="form-control-color" type="color" value="#ff0000" title="Choose your color">
 </div>
</div>
@section Scripts{
<script type="text/javascript" src="~/lib/charts/chart.min.js"></script>
}